server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Accounts Service Routes
        - id: accounts-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/accounts/**

        # Swagger UI for Accounts Service
        - id: accounts-service-swagger-ui
          uri: http://localhost:8081
          predicates:
            - Path=/swagger-ui/**
        
        # OpenAPI JSON for Accounts Service
        - id: accounts-service-api-docs
          uri: http://localhost:8081
          predicates:
            - Path=/v3/api-docs/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO

